<?xml version='1.0' encoding='utf-8'?>
<robot name="cascar_turtle">
  <material name="black">
    <color rgba="0.2 0.2 0.2 1." />
  </material>
  <material name="gray">
    <color rgba="0.41 0.41 0.41 1" />
  </material>
  <material name="white">
    <color rgba="0.99 0.99 0.99 1" />
  </material>
  <material name="soul">
    <color rgba="0.2 0.2 1.0 1.0" />
  </material>
  <material name="orange">
    <color rgba="1 0.65 0 1" />
  </material>
  <material name="orangered">
    <color rgba="1 0.27 0 1" />
  </material>
  <material name="blue">
    <color rgba="0.3 0.57 1. 1." />
  </material>
  <link name="turtle/base_link">
    <visual>
      <origin xyz="0.1375 0 0.037500000000000006" />
      <geometry>
        <box size="0.275 0.11 0.00875" />
      </geometry>
      <material name="black" />
    </visual>
  </link>
  <joint name="turtle/base_to_platform_one" type="fixed">
    <parent link="turtle/base_link" />
    <child link="turtle/platform_one" />
    <origin xyz="0.1375 0 0.058750000000000004" />
  </joint>
  <link name="turtle/platform_one">
    <visual>
      <geometry>
        <box size="0.195 0.11 0.05" />
      </geometry>
      <material name="gray" />
    </visual>
  </link>
  <joint name="turtle/platform_one_to_platform_two" type="fixed">
    <parent link="turtle/platform_one" />
    <child link="turtle/platform_two" />
    <origin xyz="0 0 0.05" />
  </joint>
  <link name="turtle/platform_two">
    <visual>
      <geometry>
        <box size="0.195 0.11 0.05" />
      </geometry>
      <material name="soul" />
    </visual>
  </link>
  <joint name="turtle/base_to_rear_axle" type="fixed">
    <parent link="turtle/base_link" />
    <child link="turtle/rear_axle" />
    <origin xyz="0 0 0.035" />
  </joint>
  <link name="turtle/rear_axle">
    <visual>
      <geometry>
        <cylinder length="0.2" radius="0.00875" />
      </geometry>
      <material name="gray" />
      <origin rpy="1.5707963267948966 0 0" />
    </visual>
  </link>
  <joint name="turtle/base_to_front_axle" type="fixed">
    <parent link="turtle/base_link" />
    <child link="turtle/front_axle" />
    <origin xyz="0.275 0 0.035" />
  </joint>
  <link name="turtle/front_axle">
    <visual>
      <geometry>
        <cylinder length="0.2" radius="0.00875" />
      </geometry>
      <material name="gray" />
      <origin rpy="1.5707963267948966 0 0" />
    </visual>
  </link>
  
  <joint name="turtle/base_to_back_left_wheel" type="fixed">
    <parent link="turtle/base_link" />
    <child link="turtle/back_left_wheel" />
    <origin xyz="0 0.11750000000000001 0.035" />
  </joint>
  <link name="turtle/back_left_wheel">
    <visual>
      <geometry>
        <cylinder length="0.035" radius="0.035" />
      </geometry>
      <material name="black" />
      <origin rpy="1.5707963267948966 0 0" />
    </visual>
  </link>
  <joint name="turtle/base_to_back_right_wheel" type="fixed">
    <parent link="turtle/base_link" />
    <child link="turtle/back_right_wheel" />
    <origin xyz="0 -0.11750000000000001 0.035" />
  </joint>
  <link name="turtle/back_right_wheel">
    <visual>
      <geometry>
        <cylinder length="0.035" radius="0.035" />
      </geometry>
      <material name="black" />
      <origin rpy="1.5707963267948966 0 0" />
    </visual>
  </link>
  <joint name="turtle/base_to_front_left_wheel" type="continuous">
    <parent link="turtle/base_link" />
    <child link="turtle/front_left_wheel" />
    <axis xyz="0 0 1" />
    <origin xyz="0.275 0.11750000000000001 0.035" />
  </joint>
  <link name="turtle/front_left_wheel">
    <visual>
      <geometry>
        <cylinder length="0.035" radius="0.035" />
      </geometry>
      <material name="black" />
      <origin rpy="1.5707963267948966 0 0" />
    </visual>
  </link>
  <joint name="turtle/base_to_front_right_wheel" type="continuous">
    <parent link="turtle/base_link" />
    <child link="turtle/front_right_wheel" />
    <axis xyz="0 0 1" />
    <origin xyz="0.275 -0.11750000000000001 0.035" />
  </joint>
  <link name="turtle/front_right_wheel">
    <visual>
      <geometry>
        <cylinder length="0.035" radius="0.035" />
      </geometry>
      <material name="black" />
      <origin rpy="1.5707963267948966 0 0" />
    </visual>
  </link>
</robot>